.toasterContainer {
  padding: 8px 56px 16px 16px;
  position: fixed;
  top: 32px;
  right: -100%;
  border-radius: 12px;
  border: 1px solid #D0D5DD;
  background: #FFFFFF;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  display: flex;
  align-items: flex-start;
  gap: 8px;
  max-width: 600px;
  transition: right 0.3s ease-in-out;
  z-index: 11111111111111;
}

.toastActive {
  right: 32px;
  transition: right 0.3s ease-in-out;
}

.iconWrapperBig,
.iconWrapperBigError {
  width: 35px;
  height: 35px;
  border-radius: 20px;
  border: 1.667px solid rgba(7, 148, 85, .1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconWrapperBigError {
  border: 1.667px solid rgba(217, 45, 32, .1);
}

.iconWrapperSmall,
.iconWrapperSmallError {
  width: 27px;
  height: 27px;
  border-radius: 20px;
  border: 1.667px solid rgba(7, 148, 85, .3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconWrapperSmallError {
  border: 1.667px solid rgba(217, 45, 32, .3);
}

.icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 8px;
}

.closeIconWrapper {
  padding: 8px;
  align-self: flex-end;
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 16px;
}

.closeIcon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  flex: 0 0 auto;
}
